<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
<connectionStrings>
  <add name="aat_weather" connectionString="Data Source=CPTFANTASTIC\SQLEXPRESS;Initial Catalog=aat_weather;Integrated Security=True"/>
</connectionStrings>
</configuration>
